.onemed-container {
	margin: 20px 100px 50px 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delete-btn {
	width: 120%;
	font-weight: lighter;
	height: 50px;
	font-family: GT Eesti Pro Display, arial, sans-serif;
	color: var(--font-error-color);
	font-size: 25px;
	cursor: pointer;
	margin-top: 50px;
	background: transparent;
	mix-blend-mode: normal;
	border-radius: 10px;
	border: 2px var(--font-error-color) solid;
	z-index: 11;
	transition: transform 0.1s ease-out, background-color 0.15s linear;
}

@mixin transform($scale) {
	-webkit-transform: $scale;
	transform: $scale;
}

.delete-btn:active {
	@include transform(scale(0.94));
}

.delete-btn:hover {
	color: white;
	background: var(--font-error-color);
}

.popUp-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 14;
	pointer-events: none;
	opacity: 0;
	transition: all 0.5s linear;
}

.popUp-container-active {
	opacity: 1;
	pointer-events: all;
	transition: all 0.5s linear;
}

.popUp {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background: var(--back-color);
	width: 40%;
	padding: 50px;
	border-radius: 10px;
	transition: all 0.5s;
}

.popUp-active {
	transform: translate(-50%, -50%) scale(1);
	transition: all 0.5s linear;
}

.attention {
	text-align: center;
	font-size: 25px;
}

.attention-under {
	text-align: center;
	margin-top: 20px;
	font-weight: lighter;
	font-size: 20px;
}

.popup-btns {
	margin-top: 50px;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-btn-popup {
	width: 30%;
	font-weight: lighter;
	height: 40px;
	font-family: GT Eesti Pro Display, arial, sans-serif;
	color: var(--font-error-color);
	font-size: 20px;
	cursor: pointer;
	background: transparent;
	mix-blend-mode: normal;
	border-radius: 10px;
	border: 2px var(--font-error-color) solid;
	z-index: 11;
	transition: transform 0.1s ease-out, background-color 0.15s linear;
}

@mixin transform($scale) {
	-webkit-transform: $scale;
	transform: $scale;
}

.delete-btn-popup:active {
	@include transform(scale(0.94));
}

.delete-btn-popup:hover {
	color: white;
	background: var(--font-error-color);
}

.cancel-btn-popup {
	width: 30%;
	font-weight: lighter;
	height: 40px;
	font-family: GT Eesti Pro Display, arial, sans-serif;
	color: white;
	font-size: 20px;
	cursor: pointer;
	background: var(--btn-info-color);
	mix-blend-mode: normal;
	border-radius: 10px;
	border: 0;
	z-index: 11;
	transition: transform 0.1s ease-out, background-color 0.15s linear;
}

@mixin transform($scale) {
	-webkit-transform: $scale;
	transform: $scale;
}

.cancel-btn-popup:active {
	@include transform(scale(0.94));
}

.cancel-btn-popup:hover {
	background: var(--btn-info-hover-color);
}

@media (min-width: 1400px) and (max-width: 1700px) {
	.name-input-med {
		font-size: 19px !important;
	}

	.name-input-name {
		font-size: 19px;
	}

	.delete-btn {
		font-size: 22px;
		height: 45px;
	}
}

@media (min-width: 1150px) and (max-width: 1400px) {
	.onemed-container {
		margin-left: 130px;
		margin-right: 55px;
	}

	.name-input-med {
		font-size: 18px !important;
	}

	.name-input-name {
		font-size: 18px;
	}

	.photo-input-name {
		font-size: 18px;
	}

	.delete-btn {
		font-size: 22px;
		height: 45px;
	}

	.type-input-name {
		font-size: 18px;
	}
}

@media (min-width: 1000px) and (max-width: 1150px) {
	.photo-input-name {
		font-size: 17px;
	}

	.onemed-container {
		margin-left: 110px;
		margin-right: 35px;
	}

	.name-input-med {
		font-size: 17px !important;
	}

	.type-input-name {
		font-size: 17px;
	}

	.name-input-name {
		font-size: 17px;
	}

	.delete-btn {
		font-size: 20px;
		height: 45px;
	}

	.rem-input-name {
		font-size: 17px	;
	}
}

@media (min-width: 750px) and (max-width: 1000px) {
	.photo-input-name {
		font-size: 16px;
	}

	.onemed-container {
		margin-left: 100px;
		margin-right: 25px;
	}

	.name-input-med {
		font-size: 16px !important;
	}

	.type-input-name {
		font-size: 16px;
	}

	.name-input-name {
		font-size: 16px;
	}

	.rem-input-name {
		font-size: 16px;
	}

	.delete-btn {
		font-size: 18px;
		height: 42px;
	}
}

@media (max-width: 750px) {
	.onemed-photo-input {
		width: 70% !important;
	}

	.photo-input-name {
		font-size: 15px;
	}

	.photo-column {
		width: 100%;
	}

	.onemed-container {
		margin-top: 0;
		padding-top: 100px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.name-input-med {
		font-size: 15px !important;
	}

	.type-input-name {
		font-size: 15px;
	}

	.rem-input-name {
		font-size: 15px;
	}

	.name-input-name {
		font-size: 15px;
	}

	.delete-btn {
		width: 80%;
		font-size: 17px;
		height: 40px;
	}

	.addmed-btn {
		font-size: 16px !important;
	}
}